body {
    margin: 0px;
    
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
    
}
hr {
    width: 4%;
border: dotted #eaf6f6 6px;
border-bottom: none;
margin: 100px auto 100px auto;
}
#rick {
    width: 100%;

}
p{
    width: 30%;
    margin: auto;
    line-height: 2;
    margin-bottom: 60px;
}

.topboot {
background-color: #E4F9F5;

    margin: 0 auto;
    position: relative;
    padding-top: 100px;
    margin-bottom: 80px;
    
   
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    margin: 50px auto 0px auto;
    color: #66bfbf;
    
}






h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 10px;
    color: #66bfbf;
    font-weight: normal;
    padding: 10px;
    margin-top: 40px;
}
    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #11999e;
        padding: 10px;
    }

   

.bottom-cloud{
    position: absolute;
    left: 100px;
    bottom: 300px;
    margin: 0 auto}
}
.top-cloud{
    position: absolute;
    right: 150px;
    top: 50px;
    margin: 0 auto}
    
.mountain{
    margin: 0 auto
    position: absolute;
    
    background-color: #E4F9F5;

}
.profile {
    margin-top: 100px;
}
.skills{
    width: 70%;
    
    margin: 100px auto 100px auto;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #119994);
    background-image: -moz-linear-gradient(top, #11cdd4, #119994);
    background-image: -ms-linear-gradient(top, #11cdd4, #119994);
    background-image: -o-linear-gradient(top, #11cdd4, #119994);
    background-image: linear-gradient(to bottom, #11cdd4, #119994);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc40d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc40d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc40d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc40d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc40d);
    text-decoration: none;
  }
  .bottom-container{
      background-color: #E4F9F5 ;
      padding: 50px 0 20px;
      margin-top: 60px;
  }

  a{
      color: #11999e;
      font-family: 'Montserrat', sans-serif;
      margin: 50px 20px;

  }
  .bootie{
      margin-top: 20px;
  
      color:grey;
      font-size: 0.75rem;
  }